{% load cms_tags menu_tags sekizai_tags static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ResourceOne系列平台产品 - 专业服务 - 中软国际</title>
<meta  name="keywords" content="中软国际 ,IT咨询服务,IT技术服务,电子政务,制造业,金融业,电信,高科技,信息技术,软件研发,企业微博,端到端,软件及信息服务,行业信息化,IT解决方案,行业解决方案,通用解决方案"  />
<meta name="description" content="中软国际的专业服务包括：平台产品、咨询服务、解决方案和系统相关服务。专业服务根据客户要求，为客户提供信息系统的全套咨询、设计、编码、测试、维护、运行等相关的标准化服务，专业服务通常以项目的形式提供。" />

{#<script src="{% static  'js/jquery-1.4.2.min.js'%}" language="javascript" type="text/javascript"> </script>#}
<script src="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/js/jquery-1.4.2.min.js" language="javascript" type="text/javascript"> </script>
<script src="{% static  'js/header-slider.js'%}" language="javascript" type="text/javascript"></script>
<link href="{% static  'header.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static  'icss_css/icss_2_0_PSG_css.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static  'icss_css/icss_2_2_S1home2.css'%}" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34957908-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onload="Windonload();countInfo(2691);">
<div id="wrap">
  <div class="maintop">
    <div class="top">
      <div class="top_right">
        <ul>
          <li id="language" class="language nav_narrow_down "><a href="#" style="font-family:Calibri, Arial, '宋体';">Select Language</a>
          	<div style="position:relative; padding-top:5px; z-index:400; width:110px;*padding-top:0px;">
            <div class="ul_select_lan liselected">
              <ul>
                <li><a href="../../../zh/index.shtml" target="_self" style="font:12px/23px '宋体';">简体中文</a></li>
                <li><a href="../../../tc/index.shtml" target="_self" style="font:12px/23px '细明体';">繁体中文</a></li>
                <li><a href="../../../en/index.shtml" target="_self" style="font:12px/23px 'Calibri';">English</a></li>
				<li><a href="../../../jp/index.shtml" target="_self" style="font:12px/23px 'Calibri';">日本語</a></li>  
              </ul>
            </div>
            </div>
            
          </li>
          <li class="hdlink"><a href="../../investor/index.shtml">投资者</a></li>
          <li class="hdlink"><a href="../../join-us/index.shtml">加入我们</a></li>
        </ul>
      </div>
      <!--top_right-->
    </div>
    <!--top-->
  </div>
  <!--maintop-->
  <div id="header">
    <div class="expo_logo"> <a href="index.shtml" target="_self"> <img src="{% static  "images/LOGO.jpg" %}" alt="中软国际" title="中软国际" /> </a> </div>
    <!--expo_logo-->
  </div>
  <!--header-->
  <div id="nav">
    <div class="mainnav">
      <ul>
        <li><a  href="../../psg/index.shtml" name="#personalService">专业服务</a></li>
        <li><a  href="../../outsourcing-services/index.shtml" name="#outsourcingService">技术服务</a></li>
		<li><a  href="../../emerging-services/index.shtml" name="#emergingServices">新业务</a></li>
        <li><a  href="../../etc/index.shtml" name="#excellentTraining">卓越培训</a></li>
        <li  style="width:116px;"><a href="../../about/index.shtml" name="#aboutIscc">关于中软国际</a></li>
      </ul>
      <form action="#" method="post">
        <input type="text" id="search" name="search" value="搜索" class="textbox"/>
        <input name="提交" type="button" class="go" value=" " onclick="allSearch();" />
      </form>
    </div>
    <!--mainnav-->
  </div>
  <div style="width:980px; margin:0px auto; padding:0px;">
    <!-- 专业服务 -->
      <div class="submenu" style="width: 630px;">
      <div id="personalService" class="submenubg">
        <!-- left -->
        <div id="divL1" style="float:left;width:180px; height:200px;">
          <div class="submenuStyle1">
            <h1><a href="../../psg/platform/s1_home.shtml" target="_self">平台</a></h1>
            <div class="box_1" style="border: none; width:140px;">
              <ul>
                <li><a href="../../psg/platform/r1.shtml" target="_self"><span style="font-family:Calibri, Arial, '宋体'">ResourceOne</span>系列产品</a></li>
                <li><a href="../../psg/platform/toplink.shtml" target="_self"><span style="font-family:Calibri, Arial, '宋体'">TopLink/TSA+</span>系列产品</a></li>
                
              </ul>
            </div>
          </div>
          <div class="submenuStyle1" >
            <h1><a href="../../psg/advisory/advisory_0.shtml">咨询</a></h1>
            <div class="box_1" style="border: none; width:120px;">
              <ul>
                <li><a href="../../psg/advisory/advisory_1.shtml">战略咨询</a></li>
                <li><a href="../../psg/advisory/advisory_2.shtml">业务咨询</a></li>
                <li><a href="../../psg/advisory/advisory_3.shtml">信息化规划咨询</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- middle -->
        <div id="divM1" style=" float:left;width:150px; height:185px; background-color:#E0EEF9; margin-top:15px;"> <a href="{% static  'psg/platform/r1.shtml" style="display:block; padding:10px 20px;"><img src="../../images/mpic05.png'%}" width="112" height="159"   alt="平台" title="平台"/></a> </div>
        <!-- right -->
        <div  id="divR1" style="float:left;width:130px; height:200px;">
          <div class="submenuStyle1">
            <h1><a href="../../psg/solution/solve_project.shtml">解决方案</a></h1>
            <div class="box_1" style="border: none; width:82px;">
              <ul>
                <li><a href="../../psg/solution/industry-solution/industry.shtml">行业解决方案</a></li>
                <li><a href="../../psg/solution/common-solution/common_0.shtml">通用解决方案</a></li>
               
              </ul>
            </div>
          </div>
          <div class="submenuStyle2">
            <h1><a href="../../psg/integrationAndServices/ias.shtml">集成与服务</a></h1>
            <div class="box_2" style="width:82px;border: none;">
              <ul>
                <li><a href="../../psg/integrationAndServices/systemIntegration.shtml">系统集成</a></li>
                <li><a href="../../psg/integrationAndServices/systemMaintenance.shtml">系统维护</a></li>
                <li><a href="../../psg/integrationAndServices/systemsOperation.shtml">系统运行</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  外包服务  -->
    <div class="submenu" style="width: 820px; ">
      <div id="outsourcingService" class="submenubg">
        <div id="divLW1" style="float:left;width:178px; height:228px; ">
          <div class="submenuStyle1">
            <h1><a href="../../outsourcing-services/hr_outsourcing.shtml">人力资源外包</a></h1>
            <div class="box_2"  style="width:138px;">
              <ul>
                <li><a href="../../outsourcing-services/talent_dispatch.shtml">专业人才派遣服务</a></li>
               
              </ul>
            </div>
          </div>
          <div class="submenuStyle1"  >
            <h1 ><a href="../../outsourcing-services/bpo.shtml">业务流程外包服务</a></h1>
            <div class="box_2" style="width:128px;">
              <ul>
                <li><a href="../../outsourcing-services/call_center.shtml">客户联络中心服务</a></li>
                <li><a href="../../outsourcing-services/bpo_services.shtml">BPO服务</a></li>
                <li><a href="../../outsourcing-services/epo_services.shtml">EPO服务</a></li>
                <li><a href="../../outsourcing-services/kpo_services.shtml">KPO服务</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divMW1" style="float:left;width:172px; height:228px;">
          <div class="submenuStyle1">
            <h1><a href="../../outsourcing-services/ito.shtml">IT外包服务</a></h1>
            <div class="box_1" style="width:132px; border-left: 1px solid #dddddd;"> <img src="{% static  'images/mpic04.png'%}" alt="IT 外包服务" width="129" height="87"  />
              <ul style="padding-top:10px;">
                <li><a href="../../outsourcing-services/it_management.shtml">IT基础设施管理服务</a></li>
                <li><a href="../../outsourcing-services/application_development.shtml">应用开发与测试服务</a></li>
                <li><a href="../../outsourcing-services/legacy_system_migration.shtml">遗留系统升级及移植服务</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divRW1" style="float:left;width:148px; height:228px;">
          <div class="submenuStyle1">
            <h1><a href="../../outsourcing-services/product_engineering.shtml">产品工程服务</a></h1>
            <div class="box_2" style="width:108px;">
              <ul>
                <li><a href="../../outsourcing-services/development_testing.shtml">产品研发与测试服务</a></li>
                <li><a href="../../outsourcing-services/product_deployment.shtml">产品部署与支持服务</a></li>
               
              </ul>
            </div>
          </div>
          <div class="submenuStyle1"  >
            <h1><a href="../../outsourcing-services/globalization.shtml">语言全球化服务</a></h1>
            <div class="box_2" style="width:112px;">
              <ul>
                <li><a href="../../outsourcing-services/software_globalization.shtml">软件产品全球化服务</a></li>
                <li><a href="../../outsourcing-services/multimedia_translation.shtml">多媒体内容翻译服务</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- 新业务 -->
    <div class="submenu" style="width: 820px; margin-left: 150px;">
    	<div id="emergingServices" class="submenubg">
        	<div id="divLW1" style="float:left;width:178px; height:228px; ">
            	<div class="submenuStyle1">
                	<h1><a href="../../emerging-services/solutions.shtml">解决方案</a></h1>
                    <div class="box_2" style="width:138px;">
                    	<ul>
                        	<li><a href="../../emerging-services/solutions_ind.shtml">产业相关</a></li>
                        	<li><a href="../../emerging-services/solutions_soc.shtml">民生相关</a></li>
                        	<li><a href="../../emerging-services/solutions_gov.shtml">政务相关</a></li>
                      	</ul>
                  	</div>
              	</div>
              	<div class="submenuStyle1">
                  	<h1><a href="../../emerging-services/services.shtml">服务</a></h1>
                  	<div class="box_2" style="width:135px;">
                      	<ul>
                          	<li><a href="../../emerging-services/services_cloud.shtml">云咨询与云服务</a></li>
                          	<li><a href="../../emerging-services/services_internet.shtml">互联网服务</a></li>
                      	</ul>
                  	</div>
              	</div>
          	</div>
          	<div id="divMW1" style="float:left;width: 200px; height:228px;">
              	<div class="submenuStyle1">
                  	<h1><a href="../../emerging-services/cases.shtml">典型案例</a></h1>
                  	<div class="box_1" style="width:132px; border-left: 1px solid #dddddd; border-right: 0;">
                      	<ul>
                          	<li><a href="../../emerging-services/cases_lishui.shtml">丽水电子政务云</a></li>
                          	<li><a href="../../emerging-services/cases_greencity.shtml">绿城置业服务平台</a></li>
                          	<li><a href="../../emerging-services/cases_21cen.shtml">中信21CN药监平台</a></li>
                          	<li><a href="../../emerging-services/cases_fetion.shtml">飞信移动客户端</a></li>
                          	<li><img src="{% static  'emerging-services/images/topSample.jpg'%}" alt="" style="padding-top:5px;"/></li>
                      	</ul>
                  	</div>
              	</div>
          	</div>
      	</div>
    </div>
    <!-- 卓越培训 -->
    <div class="submenu" style="width: 660px; left:300px;  ">
      <div id="excellentTraining" class="submenubg">
        <div id="divLW1" style="float:left;width:168px; height:210px; ">
          <div class="submenuStyle1">
            <h1><a href="../../etc/practical_training.shtml">大学生实训</a></h1>
            <div class="box_1" style="width:110px;border:none;"> </div>
          </div>
          <div class="submenuStyle1">
            <h1><a href="../../etc/social_training.shtml">社会培训</a></h1>
            <div class="box_2" style="width:110px;">
              <ul>
                <li><a href="../../etc/social_training.shtml#page1">企业级&amp;行业级培训</a></li>
                <li><a href="../../etc/social_training.shtml#page2">国际认证培训及考试</a></li>
                <li><a href="../../etc/social_training.shtml#page3">公司内部培训</a></li>
              </ul>
            </div>
          </div>
          <div class="submenuStyle2" >
            <h1  style="width:130px;"><a href="../../etc/csi_university.shtml">中软国际大学</a></h1>
          </div>
        </div>
        <div id="divRW1" style="float:left;width:243px; height:210px; ">
          <div class="submenuStyle2">
            <h1><a href="../../etc/locations.shtml">全国布局</a></h1>
            <div class="box_2" style="width:203px; border-left: 1px solid #dddddd;"> <a href="{% static  'etc/locations.shtml"><img src="../../images/mpic01.png'%}" alt="全国布局" width="203" height="167" /></a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 关于中软国际 -->
    <div class="submenu" style="width:770px; left: 150px;">
      <div id="aboutIscc" class="submenubg">
        <div class="submenuStyle1">
          <div id="divLW1" style="float:left;width:105px; height:214px; ">
            <h1><a href="../../about/overview/overview.shtml">公司概览</a></h1>
            <div class="box_1" style="width:65px;border:none;">
              <ul>
                <li><a href="../../about/overview/company_profile.shtml">公司介绍</a></li>
                <li><a href="../../about/overview/histry.shtml">发展历史</a></li>
                <li><a href="../../about/overview/mission_vision.shtml">愿景和使命</a></li>
                <li><a href="../../about/overview/management_team.shtml">管理团队</a></li>
                <li><a href="../../about/overview/honor.shtml">公司荣誉</a></li>
                <li><a href="../../about/overview/social_responsibility.shtml">社会责任</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="divLW1" style="float:left;width:356px; height:194px; padding:10px 20px; background-color:#e0eef9;">
        	<a href="{% static  'about/overview/histry.shtml"><img src="../../images/mpic02.png'%}" width="356" height="183" alt="关于中软国际" /></a>
        </div>
        
        <div id="divLW1" style="float:left;width:105px; height:214px; ">
           <div class="submenuStyle1">
          <h1><a href="../../about/newsroom/newsroom.shtml"> 新闻中心</a></h1>
          <div class="box_2" style="width:65px;">
            <ul>
              <li><a href="../../about/newsroom/news.shtml">公司动态</a></li>
              <li><a href="../../about/newsroom/media_report.shtml">媒体聚焦</a></li>
              <li><a href="../../about/newsroom/industry_stories.shtml">行业故事</a></li>
              
            </ul>
          </div>
        </div>
        
        <div class="submenuStyle2">
          <h1><a href="../../about/contact/contact.shtml">联系我们</a></h1>
          <div class="box_2" style="width:72px;">            
          </div>
        </div>
        </div>
        
		 <div id="divLW1" style="float:left;width:152px; height:214px; ">
          <h1><a href="#">&nbsp;</a></h1>
          <div class="box_2" style="width:112px;  border-left: 1px solid #dddddd;" >
          	<a href="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/IR/2014.interim report.pdf" target="_blank"  ><img src="{% static  'images/mpic012014n.jpg'%}" alt="中软国际2013年中报"  width="102" height="144" /></a>
            <ul>
              <li><a href="http://www.chinasofti.com/superWebCMS/pages/sites/MainSite/html/zh/IR/2014.interim report.pdf" target="_blank"  style=" display:inline-block;">中软国际2014年中报</a></li>
            </ul> 
          </div>
        </div>
     </div>
    </div>
  </div>
  <div class="icss_2_0_PSG_banner">
    <div id="silder_img" style="overflow:hidden; width:1000px;">
      <div id="bannerImg"  > <img src="{% static  'images/icss_2_0_PSG/logo/2.9.bar11.jpg'%}" alt="ResourceOne系列平台产品" title="ResourceOne系列平台产品" style="height:114px; position: relative;"/> </div>
    </div>
  </div>
  <!--middle_wrap-->
  <!--middle_bottom-->
  <div class="icss_2_0_PSG_bankuai">
     <div class="icss_2_2_S1home2_box1">
	<!-- 产品平台开始 -->
	<h3 class="mue"><a href="../platform/s1_home.shtml" phref="s1_home" >平台</a></h3>
	<ul class="menu">
	<li class="iner"><a href="../platform/r1.shtml" phref="r1">ResourceOne系列产品</a>
	  <ul class="menu_next"  style="width:300px;">
		<li ><a href="../platform/r1_more.shtml#resourceOneBiz" structId="2691">ResourceOne BizFoundation应用开发平台产品线</a></li>
		<li ><a href="../platform/r1_more.shtml#resourceOnePortal" structId="2691">ResourceOne构件管理及集成门户产品线</a></li>
		<li ><a href="../platform/r1_more.shtml#resourceOneSOA" structId="2691">ResourceOne SOA Suite集成中间件平台产品线</a></li>
	  </ul>
	</li>
	<li class="iner"><a href="../platform/toplink.shtml" phref="toplink">TopLink/TSA+系列产品</a>
	  <ul class="menu_next" style="width:250px;">
		<li><a href="../platform/toplink_more.shtml#toplink_NT" structId="2786">TOPLINK-NT ATM/POS交换中心应用软件</a></li>
		<li><a href="../platform/toplink_more.shtml#toplink_NSK"structId="2786" >TOPLINK-NSK ATM/POS交换中心应用软件</a></li>
		<li><a href="../platform/toplink_more.shtml#toplink_UX" structId="2786">TOPLINK-UX ATM/POS交换中心应用软件</a></li>
	  </ul>
	</li>
	</ul>
	<!-- 产品平台 结束 -->

	<!-- 咨询  开始 -->
	<h3 class="mue"><a href="../advisory/advisory_0.shtml" phref="advisory_0" >咨询</a></h3>
	<ul class="menu">
		<li><a href="../advisory/advisory_1.shtml" phref="advisory_1"  style="background-image:none;">战略咨询</a></li>
		<li><a href="../advisory/advisory_2.shtml" phref="advisory_2"  style="background-image:none;">业务咨询</a></li>
		<li><a href="../advisory/advisory_3.shtml" phref="advisory_3"  style="background-image:none;">信息化规划咨询</a></li>
	</ul>
	<!-- 咨询 结束 -->

	<!-- 解决方案 开始 -->
	<h3 class="mue"><a href="../solution/solve_project.shtml" phref="solve_project">解决方案</a></h3>
	<ul class="menu">
		<li class="iner"><a href="../solution/industry-solution/industry.shtml" phref="industry-solution">行业解决方案</a>
			<ul class="menu_next"  style="width:200px;">
				<li class="iner"><a href="../solution/industry-solution/manufacture/manu_0.shtml">制造流通</a>
					<ul class="menu_next_sub" style="width:230px;">
						<li><a href="../solution/industry-solution/manufacture/manu_1.shtml">IT规划服务</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_2.shtml">物联网应用解决方案</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_3.shtml">制造企业生产执行系统(MES)</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_4.shtml">物流运作管理系统（LES）</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_5.shtml">产品生命周期管理系统（PLM)</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_6.shtml">企业设备管理系统</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_7.shtml">数据中心及决策支持解决方案（IDC）</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_8.shtml">企业管控体系建设解决方案</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_9.shtml">烟草商业营销管理系统</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_10.shtml">烟草专卖管理系统</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_11.shtml">烟草电子政务系统</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_12.shtml">行业管控应用系统</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_13.shtml">企业应用集成服务（EAI）</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_14.shtml">云计算与虚拟化解决方案</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_15.shtml">企业信息安全解决方案</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_16.shtml">IT运维管理与服务解决方案（ITSM）</a></li>
						<li><a href="../solution/industry-solution/manufacture/manu_17.shtml">行业性工程实施服务</a></li>
					</ul>
				</li>
				<li class="iner"><a href="../solution/industry-solution/bankAndFinancial/baf_0.shtml">银行金融</a>
					<ul class="menu_next_sub" style="width:180px;">
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_1.shtml">金融卡管理解决方案</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_2.shtml">金融支付清算解决方案</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_3.shtml">银行全网收单业务平台</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_4.shtml">金融授信融资业务及管理系统</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_5.shtml">金融业务风险控制</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_6.shtml">信用卡核心及外围管理系统</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_7.shtml">网上银行系统</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_8.shtml">金融营销解决方案</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_9.shtml">SOA应用套件解决方案</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_10.shtml">通用平台解决方案</a></li>
						<li><a href="../solution/industry-solution/bankAndFinancial/baf_11.shtml">国际报文管理平台</a></li>
					</ul>
				</li>
				<li class="iner"><a href="../solution/industry-solution/government/gov_0.shtml">政府</a>
					<ul class="menu_next_sub" style="width:140px;">
						<li><a href="../solution/industry-solution/government/gov_1.shtml">政府通用解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_2.shtml">国家审计解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_3.shtml">内部审计解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_4.shtml">财政行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_5.shtml">药监行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_6.shtml">质监行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_7.shtml">国资委解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_8.shtml">中纪委解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_9.shtml">外汇管理解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_10.shtml">环保行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_11.shtml">气象行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_12.shtml">农业行业解决方案</a></li>
						<li><a href="../solution/industry-solution/government/gov_13.shtml">民航行业解决方案</a></li>
					</ul>
				</li>
				<li class="iner"><a href="../solution/industry-solution/insuranceAndSecurities/ias_0.shtml">保险证券</a>
					<ul class="menu_next_sub" style="width:200px;">
						<li><a href="../solution/industry-solution/insuranceAndSecurities/ias_1.shtml">保险核心业务运营系统</a></li>
						<li><a href="../solution/industry-solution/insuranceAndSecurities/ias_2.shtml">保险渠道管理及营销支持系统</a></li>
						<li><a href="../solution/industry-solution/insuranceAndSecurities/ias_3.shtml">保险后台管理系统</a></li>
						<li><a href="../solution/industry-solution/insuranceAndSecurities/ias_4.shtml">保险商务智能系统（BI）</a></li>
						<li><a href="../solution/industry-solution/insuranceAndSecurities/ias_5.shtml">保险/证券内容及知识管理平台</a></li>
					</ul>
				</li>			
				<li class="iner"><a href="../solution/industry-solution/mobile-application/mapp_0.shtml">移动应用</a>
					<ul class="menu_next_sub" style="width:200px;">
						<li><a href="../solution/industry-solution/mobile-application/mapp_1.shtml">企业微博</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_2.shtml">企业IM系统</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_3.shtml">Mobile Connector系统</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_4.shtml">SNS社区系统</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_5.shtml">手机对讲系统</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_6.shtml">手机客户端平台开发及适配服务</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_7.shtml">移动互联网业务平台开发服务</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_8.shtml">移动互联网业务运营推广服务</a></li>
						<li><a href="../solution/industry-solution/mobile-application/mapp_9.shtml">移动商务短彩信推广服务</a></li>
					</ul>
				</li>
				 			
				<li class="iner"><a href="../solution/industry-solution/public-utilities/pub_0.shtml">公共事业</a>
					<ul class="menu_next_sub" style="width:300px;">
						<li><a href="../solution/industry-solution/public-utilities/pub_1.shtml">轨道交通业务管理系统</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_2.shtml">城市通卡业务管理系统</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_3.shtml">电子账单支付及呈现解决方案</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_4.shtml">第三方支付行业解决方案</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_5.shtml">社保卡业务管理系统定制服务</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_6.shtml">医疗卫生业务管理系统定制服务</a></li>
						<li><a href="../solution/industry-solution/public-utilities/pub_7.shtml">公共事业商品溯源及城市交通智能分析类定制服务</a></li>
					</ul>
				</li>
<!--2013-7-8 begin-->
				<li class="iner"><a href="../solution/industry-solution/energy/ene_0.shtml">能源电力</a>
					<ul class="menu_next_sub" style="width:200px;">
						<li><a href="../solution/industry-solution/energy/ene_1.shtml">电力营销管理信息系统</a></li>
						<li><a href="../solution/industry-solution/energy/ene_2.shtml">95598智能互动网站解决方案</a></li>
						<li><a href="../solution/industry-solution/energy/ene_3.shtml">电力营销实时费控应用系统</a></li>
						<li><a href="../solution/industry-solution/energy/ene_4.shtml">电力营销GIS应用系统</a></li>
						<li><a href="../solution/industry-solution/energy/ene_5.shtml">电力营销稽查监控系统</a></li>
						<li><a href="../solution/industry-solution/energy/ene_6.shtml">电能服务管理平台</a></li>
						<li><a href="../solution/industry-solution/energy/ene_7.shtml">电网运营监测（控）信息支撑系统</a></li>
					</ul>
				</li>			
<!--2013-7-8 end-->
			</ul>
		</li>
		<li class="iner"><a href="../solution/common-solution/common_0.shtml" phref="common-solution">通用解决方案</a>
			<ul class="menu_next" style="width:220px;"> 			
				<li><a href="../solution/common-solution/common_1.shtml">企业核心应用</a></li>
				<li><a href="../solution/common-solution/common_2.shtml">企业集团管控套件</a></li>
				<li><a href="../solution/common-solution/common_3.shtml">开发和集成服务</a></li>
				<li><a href="../solution/common-solution/common_4.shtml">企业微博</a></li>
				<li><a href="../solution/common-solution/common_5.shtml">企业IM系统</a></li>
				<li><a href="../solution/common-solution/common_6.shtml">第三方支付解决方案</a></li>
				<li><a href="../solution/common-solution/common_7.shtml">数据中心及决策支持解决方案(IDC)</a></li>
				 
				<li><a href="../solution/common-solution/common_9.shtml">行业管控应用系统</a></li>
				<li><a href="../solution/common-solution/common_10.shtml">企业应用集成服务（EAI）</a></li>
				<li><a href="../solution/common-solution/common_11.shtml">物联网应用解决方案</a></li>
				<li><a href="../solution/common-solution/common_12.shtml">云计算与虚拟化解决方案</a></li>
				<li><a href="../solution/common-solution/common_13.shtml">企业信息安全解决方案</a></li>
				<li><a href="../solution/common-solution/common_14.shtml">IT运维管理与服务解决方案（ITSM）</a></li>
				<li><a href="../solution/common-solution/common_15.shtml">行业性工程实施服务</a></li>
				<li><a href="../solution/common-solution/common_16.shtml">企业资源计划（ERP）实施服务</a></li>

			</ul>
		</li>
	</ul>
	<!-- 解决方案 结束 -->
		


	<!-- 集成与服务  开始 -->
    
	<h3 class="mue"><a href="../integrationAndServices/ias.shtml" phref="ias">集成与服务</a></h3>
	<ul class="menu">
		<li><a href="../integrationAndServices/systemIntegration.shtml" phref="systemIntegration" style="background-image:none;">系统集成</a></li>
		<li><a href="../integrationAndServices/systemMaintenance.shtml" phref="systemMaintenance" style="background-image:none;">系统维护</a></li>
		<li><a href="../integrationAndServices/systemsOperation.shtml" phref="systemsOperation" style="background-image:none;">系统运行</a></li>   
	</ul>	  
    
	<!-- 集成与服务 结束 -->
</div>
	 
    <div class="icss_2_2_S1home2_box2">
      <div class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_2_2_S1home2_span1">享誉业界的ResourceOne平台产品家族是中软国际持续保持高速发展的重要竞争力，是中软国际12年来在多个行业/企业的信息化建设过程中不懈努力坚持自主创新的核心价值凝结。中软国际采用独创的基于平台的“总分总”模式成为多个行业/企业的总集成商或战略合作伙伴，通过平台有效构筑了行业/企业范围的集成骨架和应用资产管理架构，为客户提供高质量高效率短周期的应用开发交付，并实现完整生命周期的项目工程化管理，帮助客户成功并与客户共同成长。</div>
        </div>
      </div>
      <div class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_text_span">
            <p>自1999年开始ResourceOne产品经过多次版本升级，目前最新研发的版本是5.0，从基于构件技术、支持跨地域大型工程建设的3.5版本、到全面支持SOA的4.X版本，以及迈向支持云计算、ICT化的5.0版本，都是随着中软国际业务的增长不断发展的，并逐渐形成了三条独立发展的产品线。 </p>
            <p align="center"><img src="{% static  'images/icss_2_2_S1home2/pingtaijieshao.jpg'%}" width="483" height="315" /></p>
          </div>
          <div class="icss_text_liebiao_S1home2_fenge"></div>
        </div>
      </div>
      <div class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">产品系列</div>
          <div class="icss_text_liebiao_S1home2"><a href="r1_more.shtml#resourceOneBiz">ResourceOne BizFoundation应用开发平台产品线</a></div>
          <div class="icss_text_liebiao_S1home2"><a href="r1_more.shtml#resourceOnePortal">ResourceOne构件管理及集成门户产品线</a></div>
          <div class="icss_text_liebiao_S1home2"><a href="r1_more.shtml#resourceOneSOA">ResourceOne SOA Suite集成中间件平台产品线</a></div>
          <div class="icss_text_liebiao_S1home2_fenge"></div>
        </div>
      </div>
      <div class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">产品特点</div>
          <div class="icss_text_span" style="font-family:Calibri, Arial, '宋体';">
            <ul>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;" >整个产品家族实现了一体化设计，提供统一的外观、界面风格和管理平台。保证了各个产品的无缝集成，同时实现了展现和操作的一体化风格。 </li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">遵循业界标准和规范，提供良好的兼容性，可以根据需要与其他厂商的同类产品进行互换使用；除了支持业内主流的中间件，还全面支持国产中间件，支持不同国产化环境的任意组合，并在金审工程、金农工程等项目实施中得到验证。</li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">各产品相互独立，在各自面向的领域均能提供完整服务能力，客户可以根据项目建设的需要，部分采购或分步采购。</li>
            </ul>
          </div>
          <div class="icss_text_liebiao_S1home2_fenge"></div>
        </div>
      </div>
      <div class="icss_2_0_PSG_leftbox">
        <div class="icss_2_0_PSG_leftbox_right">
          <div class="icss_font_05">技术特点</div>
          <div class="icss_text_span" style="font-family:Calibri, Arial, '宋体';">
            <ul  >
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">提供了完整的易于落地的企业级SOA支撑产品和解决方案，同时保持良好的低版本升迁能力，具有良好的开放性，支持有关国际标准且对同类产品有较好的互通性，加速IT资产化和敏捷性。</li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">提供构件设计开发规范和全生命周期配套工具，所有构件都可以被整合到平台，可实现一个大系统内的不同软件由不同开发商开发，并可迅速实现积木式组装。便于应用的集成和软件的复用，裁减和集成政务及商务系统的繁杂应用变得容易，更有利于实施大型应用系统。</li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">Integration，面向服务集成），有利于IT建设统一规划。应用软件在R1支持下渐进细化需求、逐步建设和集成，真正实现了以业务为主导构建目标应用和服务，实现业务系统和信息资源整合，促进互联互通、信息共享。</li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">提供平台级的安全支撑和统一管控架构，实现应用系统的全面集中管控、配置和审计。通过平台集成安全设备、提供安全相关的基础服务和制定并推行安全规范，最大程度提升系统安全，易于满足涉密系统保护要求。</li>
              <li class="dot"  style="padding-left:10px; background-position: 2px 9px;">提供了强大的服务、交换、流程设计和管理能力，以业务导向和业务驱动，支持应用软件的快速部署和按需调整，并且大量采用并发隔离机制、异步处理和事件驱动EDA技术大幅度提升了可靠性和整体性能，让整个系统快如疾风、坚如磐石。</li>
              
            </ul>
          </div>
         
        </div>
      </div>
    </div>
    <div style="float:left; width:230px;"> 
		<div class="icss_2_0_PSG_box2">
			<div class="icss_2_0_PSG_rightbox_right_top"> <span class="icss_2_0_PSG__font01">适用行业</span></div>
            <div class="icss_2_0_PSG_rightbox_right_bottom">
                <div class="icss_text_span1 dot">政府</div>
                <div class="icss_text_span1 dot">银行金融</div>
                <div class="icss_text_span1 dot">保险证券</div>
                <div class="icss_text_span1 dot">制造流通</div>
                <div class="icss_text_span1 dot">公用事业</div>
                <div class="icss_text_span1 dot">移动应用</div>
          
            </div>
		</div>
    
    	<!-- 核心优势 -->
<div class="icss_2_0_PSG_box2">
  <div class="icss_2_0_PSG_rightbox_right_top"> <span class="icss_2_0_PSG__font01">核心优势</span></div>
  <div class="icss_2_0_PSG_rightbox_right_bottom">
    <div class="icss_2_0_PSG_rightbox_right_bottom_imagebox">      
      <div class="right_icss_text_span1 dot"><a href="/superWebCMS/pages/sites/MainSite/html/zh/core_advantage/index.shtml#platform_software">先进的平台软件</a></div>
    </div>
  </div>
</div>
	</div>
    
  </div>
  <!--bankuai-->
  <!--bottom-->
  <br class="clear" />
  <div id="footer">
    <div class="footer_main">
  <p class="hdlink"><span style="font:12px ">版权所有</span> <span style="font:12px Calibri">&copy; 2000-2014</span>&nbsp;<span style="font:12px ">中软国际公司</span> &nbsp;&nbsp;<a href="../../privacy/privacy.shtml" style="font:12px ;margin-left:12px;" >隐私声明</a> | <a href="../../about/contact/contact.shtml" style="font:12px ">联系我们</a> </p>
</div>

    <!--footer_main-->
  </div>
  <!--footer-->
</div>
<!--wrap-->
</body>
</html>
